/* Container holding the image and the text */
.MMM-SunMap .SunMapDiv {
  position: relative;
  text-align: center;
  color: white;
}

/* text */
.MMM-SunMap .date-time {
  position: absolute;
  bottom: 8px;
  right: 12px;
  color: blue;
  font-size: 16px;
}